$w:98vw;
$h:75vh;
$item-w:4vw;
$item-h:7.5vh;
$xlineNum: 24;
$ylineNum: 10;
$border: 1px solid #fff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fighting {



  &-info {
    max-height: 15vh;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: rgba($color: #fff, $alpha: .1);
    display: flex;
    justify-content: left;
    align-items: center;

    &-user-base {
      min-height: fit-content;
      width: 30vw;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      span>div {
        margin: 1px;
        padding: 1px 4px;
        font-size: 12px;
        border-radius: 4px;
        cursor: pointer;
        background-color: rgba($color: #000000, $alpha: .3);
      }
    }
  }

  &-panel {
    max-height: $h;
    display: grid;
    gap: 0;
    // grid-template-columns: repeat($xlineNum, 1fr);
    grid-template-columns: repeat($xlineNum, $item-w);
    grid-template-rows: repeat($ylineNum, $item-h);
    // width: $w;
    height: $h;
    margin: auto;

    & {
      position: relative;
    }

    .own, .enemy {
      position: absolute;
      left: 0;
      top: 0;
      width: $item-w;
      height: $item-h;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .5;

      &>div {
        display: inline-block;
        width: 70%;
        height: 70%;
        max-width: $item-w;
        max-height: $item-h;
        padding: 5px;
        margin: auto;
        background-color: rgb(189, 180, 180);
        border-radius: 45%;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
      }
    }


    &-cell {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      width: $w/$xlineNum;
      height: $h/$ylineNum;
      line-height: $h/$ylineNum;
      border: 2px solid rgba($color: #000000, $alpha: .1);
      border-radius: 4px;
      background-color: rgba($color: #000000, $alpha: .3);
      cursor: pointer;
    }

    &-cell-border {
      cursor: none;
      background-color: rgba($color: #000000, $alpha: .6);
    }

    &-cell:hover {
      background-color: rgba($color: #000000, $alpha: .5);
    }
  }


}